spring:
  application:
    name: api-spring
  datasource:
    url: jdbc:postgresql://db:5432/oj
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
  cache:
    type: redis
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest
  redis:
    host: redis
    port: 6379

aws:
  region: eu-west-1
  s3:
    endpoint: http://minio:9000
    bucket:
      submissions: oj-submissions
      testcases: oj-testcases
    accessKey: admin
    secretKey: password
